<main>
    <section class="signin-wrap position-relative d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-6 col-xl-6 custom-xxl-width">
                    <div class="logo-white mb-3">
                        <img src="assets/img/logo-w.png" alt="logo">
                    </div>
                    <h2 class="text-white font-weight-bold title mb-3">Create Account</h2>
                    <p class="text-white mb-5">Discover Digital Art, Collect and Sell Your Specific NFTs.</p>
                    <form class="pr-lg-5">
                        <h4 class="text-white font-weight-bold mb-4">Join us</h4>
                        <div class="form-group mb-4">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" id="password-repeat" placeholder="Confirm Password">
                        </div>
                        <div class="form-group mb-4">
                            <img src="assets/img/recaptcha.png" alt="captcha">
                        </div>
                        <button type="submit" class="btn btn-block btn-lg mb-2 btn-custom btn-primary-custom text-white font-weight-bold">Login</button>
                        <div class="text-center text-white">
                           Already have an account? <a href="#" class="link font-weight-bold">Sign in</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
